@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #C8D9E6;
  color: white;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: #567C8D;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: #567C8D;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
  color: #567C8D;
  border-bottom: 3px solid #567C8D;
}

@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid #567C8D;
    border-bottom: 3px solid #567C8D;
    border-bottom-left-radius: 2rem;
    padding: 1rem;
    background-color: #C8D9E6;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid #567C8D;
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: #C8D9E6;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: #567C8D;
}

.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.6rem;
}

.home-img {
  border-radius: 50%;
}

.home-img img{
  position: relative;
  width: 32vw;
  border-radius: 40%;
  box-shadow: 0 0 25px transparent;
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover {
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.8rem;
  background-color: #C8D9E6;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: #567C8D;
  letter-spacing: 0.3rem;
  font-weight: 600;
  border: 2px solid #567C8D;
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.03);
  background-color: #567C8D;
  color: #C8D9E6;
  box-shadow: 0 0 25px #567C8D;
}

.typing-text {
  font-size: 3.4rem;
  font-weight: 600;
  position: relative;
}

.cursor {
  position: absolute;
  top: 0;
  font-weight: 1000;
  animation: blink 0.7s step-end infinite;
  left: 0; /* Start cursor inside the typing area */
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
    margin: 5rem 4rem;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
}